In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv("ventes_ve_totales.csv", sep=";")

In [3]:
data.rename(columns={"Immatriculation 2013":"immatriculation"}, inplace =True)
data.head(20)

,immatriculation,01/01/2013,01/02/2013,01/03/2013,01/04/2013,01/05/2013,01/06/2013,01/07/2013,01/08/2013,01/09/2013,...,01/04/2020,01/05/2020,01/06/2020,01/07/2020,01/08/2020,01/09/2020,01/10/2020,01/11/2020,01/12/2020,TOTAL
0,Renault Zoe,70.0,440.0,1089.0,748.0,483.0,764.0,348.0,198.0,302.0,...,322.0,1165.0,6012.0,3834.0,1618.0,2878.0,2507.0,NaN,NaN,112876
1,Tesla model 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,219.0,620.0,119.0,261.0,1083.0,73.0,NaN,NaN,11553
2,Nissan Leaf,60.0,63.0,101.0,94.0,124.0,94.0,97.0,148.0,177.0,...,NaN,113.0,494.0,722.0,235.0,217.0,181.0,NaN,NaN,22692
3,Bollor√© Bluecar,58.0,50.0,50.0,51.0,49.0,0.0,10.0,20.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4098
4,Smart Fortwo,12.0,58.0,45.0,33.0,10.0,14.0,4.0,1.0,19.0,...,NaN,68.0,198.0,142.0,90.0,152.0,160.0,NaN,NaN,6399
5,Mia,29.0,18.0,22.0,11.0,13.0,12.0,25.0,0.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210
6,Peugeot iOn,6.0,12.0,38.0,2.0,3.0,5.0,1.0,10.0,27.0,...,NaN,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,4653
7,Citroen C-Zero,13.0,5.0,3.0,1.0,3.0,1.0,0.0,15.0,11.0,...,89.0,247.0,548.0,28.0,10.0,1.0,3.0,NaN,NaN,4756
8,BMW i3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,122.0,249.0,195.0,93.0,178.0,168.0,NaN,NaN,7233
9,Volkswagen E-Up,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,106.0,397.0,309.0,133.0,107.0,87.0,NaN,NaN,2727
10,Mitsubishi i-MiEV,0.0,0.0,0.0,0.0,0.0,2.0,7.0,6.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290
11,Renault Fluence ZE,2.0,2.0,1.0,0.0,0.0,11.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
12,Tesla Model S,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,32.0,62.0,5.0,5.0,99.0,16.0,NaN,NaN,4361
13,Ford Focus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,Neoma,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
15,Audi TT Roadster,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
16,Volkswagen E-Golf,50.0,42.0,61.0,38.0,28.0,61.0,33.0,33.0,55.0,...,NaN,14.0,68.0,132.0,72.0,114.0,75.0,NaN,NaN,2917
17,Kia Soul EV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3412
18,Mercedes Classe B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194
19,BYD E6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [4]:
data.fillna(value=0, inplace=True)
data.head(20)

,immatriculation,01/01/2013,01/02/2013,01/03/2013,01/04/2013,01/05/2013,01/06/2013,01/07/2013,01/08/2013,01/09/2013,...,01/04/2020,01/05/2020,01/06/2020,01/07/2020,01/08/2020,01/09/2020,01/10/2020,01/11/2020,01/12/2020,TOTAL
0,Renault Zoe,70.0,440.0,1089.0,748.0,483.0,764.0,348.0,198.0,302.0,...,322.0,1165.0,6012.0,3834.0,1618.0,2878.0,2507.0,0.0,0.0,112876
1,Tesla model 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,189.0,219.0,620.0,119.0,261.0,1083.0,73.0,0.0,0.0,11553
2,Nissan Leaf,60.0,63.0,101.0,94.0,124.0,94.0,97.0,148.0,177.0,...,0.0,113.0,494.0,722.0,235.0,217.0,181.0,0.0,0.0,22692
3,Bollor√© Bluecar,58.0,50.0,50.0,51.0,49.0,0.0,10.0,20.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4098
4,Smart Fortwo,12.0,58.0,45.0,33.0,10.0,14.0,4.0,1.0,19.0,...,0.0,68.0,198.0,142.0,90.0,152.0,160.0,0.0,0.0,6399
5,Mia,29.0,18.0,22.0,11.0,13.0,12.0,25.0,0.0,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210
6,Peugeot iOn,6.0,12.0,38.0,2.0,3.0,5.0,1.0,10.0,27.0,...,0.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,4653
7,Citroen C-Zero,13.0,5.0,3.0,1.0,3.0,1.0,0.0,15.0,11.0,...,89.0,247.0,548.0,28.0,10.0,1.0,3.0,0.0,0.0,4756
8,BMW i3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,122.0,249.0,195.0,93.0,178.0,168.0,0.0,0.0,7233
9,Volkswagen E-Up,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,106.0,397.0,309.0,133.0,107.0,87.0,0.0,0.0,2727
10,Mitsubishi i-MiEV,0.0,0.0,0.0,0.0,0.0,2.0,7.0,6.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290
11,Renault Fluence ZE,2.0,2.0,1.0,0.0,0.0,11.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23
12,Tesla Model S,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,32.0,62.0,5.0,5.0,99.0,16.0,0.0,0.0,4361
13,Ford Focus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13
14,Neoma,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
15,Audi TT Roadster,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
16,Volkswagen E-Golf,50.0,42.0,61.0,38.0,28.0,61.0,33.0,33.0,55.0,...,0.0,14.0,68.0,132.0,72.0,114.0,75.0,0.0,0.0,2917
17,Kia Soul EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3412
18,Mercedes Classe B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,194
19,BYD E6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [5]:
data.dtypes

immatriculation     object
01/01/2013         float64
01/02/2013         float64
01/03/2013         float64
01/04/2013         float64
                    ...
01/09/2020         float64
01/10/2020         float64
01/11/2020         float64
01/12/2020         float64
TOTAL                int64
Length: 98, dtype: object

In [6]:
new_data = data.iloc[:,1:].apply(np.int64)
new_data.head()

,01/01/2013,01/02/2013,01/03/2013,01/04/2013,01/05/2013,01/06/2013,01/07/2013,01/08/2013,01/09/2013,01/10/2013,...,01/04/2020,01/05/2020,01/06/2020,01/07/2020,01/08/2020,01/09/2020,01/10/2020,01/11/2020,01/12/2020,TOTAL
0,70,440,1089,748,483,764,348,198,302,503,...,322,1165,6012,3834,1618,2878,2507,0,0,112876
1,0,0,0,0,0,0,0,0,0,0,...,189,219,620,119,261,1083,73,0,0,11553
2,60,63,101,94,124,94,97,148,177,198,...,0,113,494,722,235,217,181,0,0,22692
3,58,50,50,51,49,0,10,20,70,207,...,0,0,0,0,0,0,0,0,0,4098
4,12,58,45,33,10,14,4,1,19,52,...,0,68,198,142,90,152,160,0,0,6399

In [9]:
data_col1 = data["immatriculation"]
data_col1.head()

0        Renault Zoe
1      Tesla model 3
2        Nissan Leaf
3    Bollor√© Bluecar
4       Smart Fortwo
Name: immatriculation, dtype: object

In [10]:
new_data.dtypes

01/01/2013    int64
01/02/2013    int64
01/03/2013    int64
01/04/2013    int64
01/05/2013    int64
              ...
01/09/2020    int64
01/10/2020    int64
01/11/2020    int64
01/12/2020    int64
TOTAL         int64
Length: 97, dtype: object

In [53]:
#final_df = pd.concat([data_col1, new_data], axis=1, join="inner")
#final_df.drop(columns="TOTAL", inplace =True)
final_df.drop(final_df.index[-1], inplace =True)
final_df.tail()

,immatriculation,01/01/2013,01/02/2013,01/03/2013,01/04/2013,01/05/2013,01/06/2013,01/07/2013,01/08/2013,01/09/2013,...,01/03/2020,01/04/2020,01/05/2020,01/06/2020,01/07/2020,01/08/2020,01/09/2020,01/10/2020,01/11/2020,01/12/2020
50,Mercedes EQV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6,5,0,0
51,BMW I3 Rex,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,2,0,0
52,AIWAYS U5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
53,Mercedes E-Vito,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
54,Autres,0,0,0,0,0,0,0,0,0,...,0,103,0,0,0,0,0,0,0,0

In [49]:
#bis_data = data.T
#bis_data.rename(columns=bis_data.iloc[0], inplace = True)
#bis_data.drop(bis_data.index[0], inplace = True)
#bis_data.reset_index(inplace=True)
#bis_data.rename(columns={"index":"date"}, inplace = True)
#bis_data.drop(bis_data.index[-1], inplace = True)
#bis_data["date"] = pd.to_datetime(bis_data["date"], dayfirst=True)
#bis_data.drop(columns="Total", inplace = True)
bis_data['year'] = pd.DatetimeIndex(bis_data['date']).year
bis_data['month'] = pd.DatetimeIndex(bis_data['date']).month
bis_data.tail()

,date,Renault Zoe,Tesla model 3,Nissan Leaf,Bollor√© Bluecar,Smart Fortwo,Mia,Peugeot iOn,Citroen C-Zero,BMW i3,...,Citroen E-C4,Peugeot Expert,Citroen E-Jumpy,Mercedes EQV,BMW I3 Rex,AIWAYS U5,Mercedes E-Vito,Autres,year,month
91,2020-08-01,1618,261,235,0,90,0,1,10,93,...,14,6,3,0,0,0,0,0,2020,8
92,2020-09-01,2878,1083,217,0,152,0,1,1,178,...,30,10,3,6,4,1,0,0,2020,9
93,2020-10-01,2507,73,181,0,160,0,0,3,168,...,83,5,18,5,2,0,0,0,2020,10
94,2020-11-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020,11
95,2020-12-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020,12

In [16]:
final_df.shape

(56, 98)

In [59]:
#pdm_ev = pd.read_csv("pdm_ev.csv")
#pdm_ev.rename(columns={"Unnamed: 0": "date"}, inplace = True)
#pdm_ev["pdm"] = (pdm_ev["ventes_ve_totales"]/pdm_ev["marche_vl"])*100
#pdm_ev.fillna(0, inplace=True)
pdm_ev["date"] = pd.to_datetime(pdm_ev["date"])
pdm_ev.tail()

         date  ventes_ve_totales  marche_vl       pdm
79 2020-01-08               5591     103631  5.395104
80 2020-01-09              10015     168291  5.951002
81 2020-01-10              10045     171049  5.872586
82 2020-01-11                  0          0  0.000000
83 2020-01-12                  0          0  0.000000

In [60]:
final_df.to_csv(r"C:\Users\remid\OneDrive\Documents\final_ventes_ve_totales.csv")
bis_data.to_csv(r"C:\Users\remid\OneDrive\Documents\final_ventes_ve_totales_alternative.csv")
pdm_ev.to_csv(r"C:\Users\remid\OneDrive\Documents\pdm_ev.csv")